// @media (prefers-color-scheme: dark)
//   :root
//     background-color: blue_dark
//     p,h1,h2,h3,h4,h5,h6
//       color: white
//   .countersContainer_card
//     background-color: blue_top_dark
//   .overview_card
//     background-color: blue_top_dark
