@media (max-width: 425px)
  nav
    grid-template-columns: 1fr
    hr
      display: block
  .countersContainer
    grid-template-columns: 1fr
  .overview
    grid-template-columns: 1fr
  .overview_card-iconSocialMedia
    left: 136px !important

