@media (max-width: 425px)
  nav
    grid-template-columns: 1fr
    hr
      display: block
    p
      margin: 5px
  .countersContainer
    grid-template-columns: 1fr
  .overview
    grid-template-columns: 1fr
  .overview_card-iconSocialMedia
    left: 136px !important
  .toggleContainer
    justify-content: space-between
  .toggleContainer_title
    margin: 5px 

