@css {
  :root {
    --bg_body:hsl(0, 0%, 100%) ;
    --paragraph:hsl(228, 12%, 44%);
    --color-card:hsl(225, 100%, 98%);
  }
  
  [data-theme="dark"]{
      --bg_body: hsl(232, 19%, 15%);
      --paragraph:hsl(0, 0%, 100%);
      --color-card:hsl(230, 17%, 14%);
  }
}

// Light Theme
white = hsl(0, 0%, 100%)
blue_pale = hsl(225, 100%, 98%)

blue_medium = hsl(228, 12%, 44%)
blue_dark = hsl(230, 17%, 14%)

// Primary Colors
green = hsl(163, 72%, 41%)
red = hsl(356, 69%, 56%)

toggle = hsl(230, 22%, 74%)

// Social Media
facebook = hsl(195, 100%, 50%)
twitter = hsl(203, 89%, 53%)
instagram = linear-gradient(0.25turn, hsl(37, 97%, 70%), hsl(329, 70%, 58%))
youtube = hsl(348, 97%, 39%)

// Dark Theme
toggle_dark = linear-gradient(hsl(210, 78%, 56%),hsl(146, 68%, 55%) )

blue_dark = hsl(230, 17%, 14%)
blue_top_dark = hsl(232, 19%, 15%)
blue_desaturated_dark = hsl(228, 34%, 66%)
white_dark = hsl(0, 0%, 100%)

// Fonts
font ='Inter', sans-serif;
font_size = 14px
font-size-small = 12px
font_size_counter = 60px
font-size_icons = 24px
weight_regular = 400
weight_bold = 700
letter-spacing = 8px
margin-icon = 0 5px

//grid
spacing-grap= 20px


//cards
border-radius= 10px

// prefers-color-scheme: dark

