.overview
  mixin-grid(repeat(4,1fr))
  margin-top: spacing-grap

.overview_card
  mixin_cardOverview()
  background-color: blue_pale
  p
    margin 0
  img
    position: relative;
    left: 70px;
  .overview_card-view
    font-size: (font_size_counter/2)
  .overview_card-percentage
    text-align: end
    position: relative
    top: 7px
    color: green
    font-size: font-size-small
