nav
  mixin-grid(1fr 1fr)
  justify-content: space-around
  h1
    margin-bottom: 5px
  p
    margin-top: 5px
  hr
    display: none

.toggleContainer
  mixin-flex(center)
  justify-content: flex-end
